<section class="container create-thought ff-inter">
  <header class="header">
    <h2>Stack a new thought</h2>
  </header>

  <form [formGroup]="form">
    <label for="thought">Thought</label>
    <textarea class="input"
              id="thought"
              placeholder="Type your thought"
              formControlName="content">

    </textarea>
    <div class="mensage__error" *ngIf="form.get('content')?.errors && form.get('content')?.touched">
      Thought is required
    </div>

    <input
      type="text"
      class="input"
      id="author"
      formControlName="author"
      placeholder="Digite a autoria ou fonte"
    >
    <div class="mensage__error" *ngIf="form.get('author')?.errors?.['length'] && form.get('author')?.touched">
      Author is required
    </div>
    <div class="mensage__error" *ngIf="form.get('author')?.errors?.['length']&& form.get('author')?.touched">
      Author has to have the min of 3 chars
    </div>



    <!--      MODEL ONE-->

    <label for="model"> Select the design of the card</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="modelo"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Preview
        <div class="model model1 ff-roboto-mono">
          <img src="assets/imgs/modelo1.png" alt=" Dark Blue quotations">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria">{{ form.get('author')?.value }}</p>
        </div>
      </div>

      <!--      MODEL TWO-->

      <div class="container-radio">
        <div class="radio-modelo">
          <label for="modelo2">
            <input
              type="radio"
              id="modelo2"
              value="modelo2"
              formControlName="modelo"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 2</span>
          </label>
          Preview
          <div class="model model2 ff-roboto-mono">
            <img src="assets/imgs/modelo2.png" alt="Blue quotations">
            <p class="conteudo">{{ form.get('content')?.value }}</p>
            <p class="autoria">{{ form.get('author')?.value}}</p>
          </div>
        </div>
      </div>


      <!--      MODEL THREE-->


      <div class="container-radio">
        <div class="radio-modelo">
          <label for="modelo3">
            <input
              type="radio"
              id="modelo3"
              value="modelo3"
              formControlName="modelo"
            >
            <div class="custom-radio">
              <span></span>
            </div>
            <span>Modelo 3</span>
          </label>
          Preview
          <div class="model model3 ff-roboto-mono">
            <img src="assets/imgs/modelo3.png" alt="Green quotations">
            <p class="conteudo">{{ form.get('content')?.value }}</p>
            <p class="autoria">{{ form.get('author')?.value}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="action">
      <button (click)="createTought()" class="botao">Stack my thought</button>
      <button (click)="cancelCreateThought()"  class="botao">Back</button>
    </div>
  </form>

</section>
